certifi==2020.6.20
chardet==3.0.4
click==7.1.2
gensim==3.8.3
idna==2.10
joblib==0.17.0
nltk==3.5
numpy==1.19.2
pandas~=1.1.2
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.11
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
smart-open==3.0.0
threadpoolctl==2.1.0
tqdm==4.50.2
urllib3==1.25.10
networkx~=2.5
simplejson~=3.17.2